*{
    box-sizing: border-box;
}

body {
    background-color: #ede9d8;
    font: 16px Arial;  
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #ede9d8;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f5f3eb;
  width: 100%;
}

input[type=submit] {
  background-color: #4a4637;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.center_results {
  text-align: center;
}

.makeitseo{
  width: 80%;
  margin: 10px auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

img{
    height: auto;
    max-width: 100%;
}

.cell {
    margin: 10px 10px 10px 10px;
    height: 800px;
    width: auto;
    padding: 2px;
    display: flex;
    align-items: center;
    overflow: auto;
    flex-direction: column;
}

.styled-table {
    align="center"
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 2px 5px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

