<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>

</head>

<body>

  {% block content %}
  <!-- Add content in other html files here -->
  {% endblock %}
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"> </script> -->
</body>


</html>

