{% extends "base.html" %}


{%block title%} Home {% endblock%}

{% block content %}
<div class="center_results">

<video width="320" height="240" autoplay playsinline loop muted >
  <source src="static/video/messi_world_cup_kiss.mp4" type="video/mp4"  >
  Your browser does not support the video tag.
</video>

<h2> Oracle of Messi </h2>
<!--Make sure the form has the autocomplete function switched off:-->
<form method="POST" autocomplete="off" action="/" >
  <div class="autocomplete" style="width:300px;">
      <input id="PlayerOne" type="text" name="PlayerOne" placeholder="L. Messi" style="font-weight: 550" readonly>
  </div>

  <div class="autocomplete" style="width:300px;">
    <input id="PlayerTwo" type="text" name="PlayerTwo" placeholder="H. Lloris">
  </div>
  <br></br>
  <input type="submit" value="Find Connections">
</form>
</div>


{% if connection_result_list %}
<div class="makeitseo">
{% for item in connection_result_list  %}
   <div class="cell">
   <p>{{item}}</p>  
   {% if loop.index % 2 == 0%}
        <img alt="Team crest" src={{teams_crest_dict[item]}}  >
  {% else %}
        <img alt="Player photo" src={{player_image_paths[item]}}  >

         <!-- Last player is reference player -->
       {% if not loop.last %}
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Competition</th>
                        <th>Goals</th>
                        <th>Team</th>
                    </tr>
                </thead>
                <tbody>
                       {% for competition in final_keeper_dict[item]['Comp'] %}
                              <tr>
                                  <td>  {{competition}} </td>
                                  <td>     {{final_keeper_dict[item]['goals'][loop.index - 1]}} </td>
                                  <td>     {{final_keeper_dict[item]['Opponent'][loop.index - 1]}} </td>
                              </tr>
                       {% endfor %}
                </tbody>
                </table>

                <!-- Show video of keeper vs reference player only if reference player has goals against keeper -->
                {% if video_id_dict[item] | length %}
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video_id_dict[item]}}" frameborder="0" allow=" autoplay; encrypted-media;  picture-in-picture" allowfullscreen></iframe>
                {% endif %}

       {% endif %}

   {% endif %}


   {% if not loop.last %}
   {% endif %}
   </div>

   {% if not loop.last %}
       <div class="cell">
           <p> &#8594; </p>
       </div>
   {% endif %}

      
{% endfor %}

<!-- Change the placeholder to be the latest selected player -->
<script>
    document.getElementById("PlayerTwo").placeholder =  "{{connection_result_list[0]}}";
</script>

</div>
{% endif %}

<script type="text/javascript" src="{{ url_for('static', filename='autocomplete.js') }}"> </script>

{% endblock %}

