{% extends "base.html" %}


{%block title%} Home {% endblock%}

{% block content %}

<h2>Player Connections</h2>

<!--Make sure the form has the autocomplete function switched off:-->
<form method="POST" autocomplete="off" action="/" >
  <div class="autocomplete" style="width:300px;">
    <input id="PlayerOne" type="text" name="PlayerOne" placeholder="Player 1">
  </div>

<br>
<br>
  <div class="autocomplete" style="width:300px;">
    <input id="PlayerTwo" type="text" name="PlayerTwo" placeholder="Player 2">
  </div>
  <input type="submit">
</form>

{% if connection_result_list %}
{% for item in connection_result_list  %}
   <p>{{item}}</p>  
   <p>|</p>  
   <p>|</p>  
{% endfor %}
{% endif %}

<script type="text/javascript" src="{{ url_for('static', filename='autocomplete.js') }}"> </script>

{% endblock %}

