{% extends "base.html" %}


{%block title%} Home {% endblock%}

{% block content %}
<div class="center_results">

<video width="320" height="240" autoplay playsinline loop muted >
  <source src="static/video/messi_world_cup_kiss.mp4" type="video/mp4"  >
  Your browser does not support the video tag.
</video>

<h2> Oracle of Messi </h2>
<!--Make sure the form has the autocomplete function switched off:-->
<form method="POST" autocomplete="off" action="/" >
  <div class="autocomplete" style="width:300px;">
      <input id="PlayerOne" type="text" name="PlayerOne" placeholder="L. Messi" style="font-weight: 550" readonly>
  </div>

  <div class="autocomplete" style="width:300px;">
    <input id="PlayerTwo" type="text" name="PlayerTwo" placeholder="H. Lloris">
  </div>
  <br></br>
  <input type="submit" value="Find Connections">
</form>
</div>


{% if connection_result_list %}
<div class="makeitseo">
{% for item in connection_result_list  %}
    <!-- <div class="center_results"> -->
   <div class="cell">
   <p>{{item}}</p>  
   {% if loop.index % 2 == 0%}
        <img alt="Team crest" src={{teams_crest_dict[item]}}  >
  {% else %}
        <img alt="Player photo" src={{player_image_paths[item]}}  >

         <!-- Last player is Messi -->
       {% if not loop.last %}
       <p>Goals conceded vs Messi: {{goals_against_messi[item]}} </p>  
       {% endif %}

   {% endif %}


   {% if not loop.last %}
   {% endif %}
   </div>

   {% if not loop.last %}
       <div class="cell">
           <p> &#8594; </p>
       </div>
   {% endif %}

      
{% endfor %}
</div>
{% endif %}

<script type="text/javascript" src="{{ url_for('static', filename='autocomplete.js') }}"> </script>

{% endblock %}

